@using Library.Utils;

@model IEnumerable<PersonModel>

@{
    ViewData["Title"] = "Pessoas";
    Layout = ViewBag.Layout;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/table-style.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        <div class="d-flex justify-content-between alignalign-items-center mb-5">
            <h3>Pessoas</h3>
            <a class="btn btn-success" style="width:150px;height:38px" asp-controller="Person" asp-action="Register">Cadastrar pessoa</a>
        </div>

        @if (TempData[Constants.SUCCESS_MESSAGE] != null) {
            <div class="alert alert-success text-black" role="alert">
                @TempData[Constants.SUCCESS_MESSAGE]
            </div>
        }

        @if (TempData[Constants.ERROR_MESSAGE] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.ERROR_MESSAGE]
            </div>
        }

        <table class="table table-light table hover table-striped" id="person-table" border="1">

            <thead>

                <tr>
                    <th scope="col" style="width: 25%;">Nome</th>
                    <th scope="col" style="width: 20%;">Cidade</th>
                    <th scope="col" style="width: 20%;">Estado</th>
                    <th scope="col" style="width: 15%;">Data do Cadastro</th>
                    <th scope="col"></th>
                </tr>

            </thead>

            <tbody>

                @if (Model != null) {

                    @foreach (var person in Model) {
                        <tr>
                            <td scope="row">@person.Name</td>
                            <td scope="row">@person.City</td>
                            <td scope="row">@person.FederalState</td>
                            <td class="" scope="row">@person.RegistrationDate</td>
                            <td scope="row" id="controls-td">
                                <a class="btn btn-light" asp-controller="Person" asp-action="Edit" asp-route-id="@person.Id"><img src="~/img/edit_icon2.png" title="Editar a pessoa" /></a>
                                <a class="btn btn-light" asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id"><img src="~/img/delete_icon.png" title="Excluir a pessoa" /></a>
                            </td>
                        </tr>
                    }

                }

            </tbody>

        </table>

    </div>

</body>