
@*

    Página para manutenção de livros no acervo. Estão disponíveis nesta página as funcionalidades
    de:

    1. Cadastro de um novo livro.

    2. Edição de um livro existente.

    3. Exclusão de um livro.

    4. Descarte de um livro.

    5. Doação de um livro.

    6. Empréstimo de um livro.

*@

@using Library.Db.Models
@using Library.Services.Model.Dto
@using Library.Utils


@model IEnumerable<BookModel>


@{

    ViewData["Title"] = "Manutenção do Acervo";

    // Configurações do usuário.
    SettingsDto settings = ViewBag.Settings;

    List<BookModel> deletedBooks = ViewBag.DeletedBooks;

    string? borrowedTextColor = settings.BorrowedTextColor;

    // Tags HTML para efeitos de fonte de livros emprestados.
    string borrowedTextStyle = "color:" + borrowedTextColor + ";";

    if (settings.IsBorrowedBold != null && settings.IsBorrowedBold == true) {
        borrowedTextStyle += Constants.HTML_FONT_BOLD;
    }

    if (settings.IsBorrowedUnderline != null && settings.IsBorrowedUnderline == true) {
        borrowedTextStyle += Constants.HTML_FONT_UNDERLINE;
    }
    
    if (settings.IsBorrowedItalic != null && settings.IsBorrowedItalic == true) {
        borrowedTextStyle += Constants.HTML_FONT_ITALIC;
    }

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />

}


<div class="conteiner-fluid">


    @*Cabeçalho da página. Contém o título da página e os botões "Cadastrar Livro" e "Imprimir".*@

    <div class="d-flex justify-content-between mb-5">
            
        @*Título da página (à esquerda).*@
        
        <h4>Manutenção do Acervo</h4>
        
        @*Botões "Cadastrar Livro" e "Imprimir".*@

        <div class="d-flex justify-content-between">
                
            <a id="register-button" class="btn btn-success d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-right:5px;margin-top:-2px;" asp-controller="Book" asp-action="Register">
                <img class="m-0" src="~/img/add_icon_16.png" />&nbsp;Cadastrar
            </a>
                
            <a id="print-button" class="btn btn-primary d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-right:5px;margin-top:-2px;" asp-controller="Report" asp-action="BooksInTheCollectionReport" target="_blank">
                <img class="m-0" src="~/img/printer_icon_16_w.png" /> &nbsp;Imprimir
            </a>

            <a id="print-button" class="btn btn-dark d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-top:-2px;" data-toggle="modal" data-target="#restore-dialog">
                <img class="m-0" src="~/img/undo_icon_16.png" /> &nbsp;Restaurar
            </a>
            
        </div>
        
    </div>


    @await Html.PartialAsync("_MessageSuccessPartial")

    @await Html.PartialAsync("_MessageErrorPartial")


    @*Tabela que lista os livros disponíveis no acervo.*@

    <table id="book-table" class="table table-light table hover table-striped" border="1">


        <thead class="text-start">

            <tr>

                <th scope="col" style="width: 24%;">Título</th>
                    
                <th scope="col" style="width: 17%;">Autor</th>
                    
                <th scope="col" style="width: 12%;">ISBN</th>
                    
                <th scope="col" style="width: 2%;">Edic.</th>
                    
                <th scope="col" style="width: 2%;">Vol.</th>
                    
                <th scope="col" style="width: 5%;">Aquisição</th>
                    
                <th scope="col"></th>

            </tr>

        </thead>


        <tbody>

            @if (Model != null) {

                @*

                    Para cada livro, cria uma linha na tabela. As colunas da tabela exibem
                    os campos:

                    1. Título do livro.

                    2. Autor do livro.

                    3. ISBN do livro.

                    4. Edição do livro.

                    5. Volume do livro.

                    6. Data de aquisição do livro.


                    A última coluna da tabela contém os botões:

                    1. Editar o livro.

                    2. Excluir o livro.

                    3. Descartar o livro.

                    4. Doar o livro.

                    5. Emprestar o livro.

                    6. Detalhes do livro.

                *@

                @foreach(var book in Model) {

                    <tr>

                        @if (!book.IsBorrowed) {
                            
                            <td scope="row">@book.Title</td>
                            
                            <td scope="row">@book.Author</td>
                            
                            <td scope="row">@book.Isbn</td>
                            
                            <td class="num-span" scope="row">@book.Edition</td>
                            
                            <td class="num-span" scope="row">@book.Volume</td>

                            <td class="num-span" scope="row">@book.AcquisitionDate.ToString("dd/MM/yyyy")</td>

                        } else {

                            <td scope="row" style="@borrowedTextStyle">@book.Title</td>

                            <td scope="row" style="@borrowedTextStyle">@book.Author</td>

                            <td scope="row" style="@borrowedTextStyle">@book.Isbn</td>

                            <td class="num-span" scope="row" style="@borrowedTextStyle">@book.Edition</td>

                            <td class="num-span" scope="row" style="@borrowedTextStyle">@book.Volume</td>

                            <td class="num-span" scope="row" style="@borrowedTextStyle">@book.AcquisitionDate.ToString("dd/MM/yyyy")</td>

                        }
                            
                        <td id="controls-td" scope="row">


                            @*

                                Diálogo para a exclusão de um livro. Para cada livro, será criado
                                um diálogo com um id diferente, nomeado desta forma:

                                delete-book-dialog-[id do livro]

                                Onde:

                                [id do livro]: Identificador chave primária do livro.
                            
                            *@

                            <div id="delete-book-dialog-@book.Id" class="modal fade" >

                                <div class="modal-dialog modal-dialog-centered">

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h6 class="modal-title" >Atenção!</h6>
                                        </div>

                                        <div class="modal-body" style="text-align:left">
                                            Excluir o livro "@book.Title"?
                                        </div>

                                        <div class="modal-footer">

                                            <form method="post" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">
                                                <button type="submit" class="btn btn-primary">Confirmar</button>
                                            </form>

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                        </div>

                                    </div>

                                </div>

                            </div>
                               
                            
                            <a class="btn btn-light" asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
                                <img src="~/img/edit_icon2.png" title="Editar o livro" />
                            </a>

                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#delete-book-dialog-@book.Id">
                                <img src="~/img/delete_icon.png" title="Excluir o livro" />
                            </a>
                                
                            <a class="btn btn-light" asp-controller="Discard" asp-action="Register" asp-route-id="@book.Id">
                                <img src="~/img/recycle_icon.png" title="Descartar o livro" />
                            </a>
                                
                            <a class="btn btn-light" asp-controller="Donation" asp-action="Register" asp-route-id="@book.Id">
                                <img src="~/img/donation_icon.png" title="Doar o livro" />
                            </a>
                                
                            <a class="btn btn-light" asp-controller="Loan" asp-action="Register" asp-route-id="@book.Id">
                                <img src="~/img/book_borrow_icon_24.png" title="Emprestar o livro" />
                            </a>
                                
                            <a class="btn btn-light" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                                <img src="~/img/view_icon.png" title="Detalhes do livro" />
                            </a>
                            

                        </td>

                    </tr>

                }

            }

        </tbody>


    </table>


</div>


@*
    Diálogo para buscar um livro. Se o livro está emprestado, foi doado, ou foi excluído,
    a linha que corresponde a este livro terá uma cor de fonte e efeitos de texto (negrito,
    sublinhado, itálico) específicos, conforme foi configurado pelo usuário.
*@

<div id="restore-dialog" class="modal fade">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">

        <div class="modal-content">


            @*Cabeçalho do diálogo. Contém o título e o botão fechar.*@    

            <div class="modal-header">

                <h6>Restaurar livro excluído:</h6>

                <button id="close-button" type="button" class="close"
                        style="background: white;border:0px;padding-top:0px;padding-bottom:0px;"
                        data-dismiss="modal">
                    <h3>&times;</h3>
                </button>

            </div>


            @*Corpo do diálogo. Contém a lista dos livros cadastrados.*@

            <div class="modal-body" style="background:white; ">

                <table id="restore-table" class="table table-light table hover table-striped" border="1">


                    <thead class="text-start">

                        <tr>

                            <th scope="col" style="width: 24%;">Título</th>

                            <th scope="col" style="width: 17%;">Autor</th>

                            <th scope="col" style="width: 12%;">ISBN</th>

                            <th scope="col" style="width: 2%;">Edic.</th>

                            <th scope="col" style="width: 2%;">Vol.</th>

                            <th scope="col" style="width: 7%;">Aquisição</th>

                            <th scope="col" style="width: 7%;">Exclusão</th>

                            <th scope="col"></th>

                        </tr>

                    </thead>


                    <tbody>

                        @if (deletedBooks != null) {

                            @foreach(var book in deletedBooks) {

                                <tr>

                                    <td scope="row">@book.Title</td>

                                    <td scope="row">@book.Author</td>

                                    <td scope="row">@book.Isbn</td>

                                    <td class="num-span" scope="row">@book.Edition</td>

                                    <td class="num-span" scope="row">@book.Volume</td>

                                    <td class="num-span" scope="row">@book.AcquisitionDate.ToString("dd/MM/yyyy")</td>

                                    <td class="num-span" scope="row">@book.LastUpdateDate.ToString("dd/MM/yyyy")</td>

                                    <td id="controls-td" scope="row">

                                        <form method="post" asp-controller="Book" asp-action="Undelete" asp-route-id="@book.Id">
                                            <button type="submit" class="btn" style="background-color:white">
                                                <img src="~/img/return_icon.png" title="Restaurar" />
                                            </button>
                                        </form>
                            
                                    </td>

                                </tr>

                            }

                        }

                    </tbody>


                </table>

            </div>


            <div class="modal-footer" style="display: flex; justify-content: flex-start; align-items: center;">

                <p style="color: #787878;display:flex;align-items:center;vertical-align:middle;">

                    &nbsp;&nbsp;

                </p>

            </div>


        </div>

    </div>

</div>


@section Scripts {

    <script src="~/js/datatables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#restore-table').DataTable({
                language: { url: "/dic/book-table-pt_br.json" },
                order: [],
                ordering: false,
                columnDefs: [
                    { targets: '_all', className: 'vertical-align-middle dt-body-left dt-head-left' },
                    { targets: -1, className: 'dt-body-right' }
                ],
                lengthMenu: [[-1], ["Todos"]],
                pageLength: -1
            });

            $('#restore-table tbody tr td').css('vertical-align', 'middle');

            var table = $('#book-table').DataTable({
                language: { url: "/dic/book-table-pt_br.json" },
                order: [],
                ordering: false,
                columnDefs: [
                    { targets: '_all', className: 'vertical-align-middle dt-body-left dt-head-left' },
                    { targets: -1, className: 'dt-body-right' }
                ],
                lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Todos"]],
                pageLength: 5
            });

            $('#book-table tbody tr td').css('vertical-align', 'middle');

            $(document).keydown(function(event) {

                switch(event.keyCode) {

                    case 37: {
                        event.preventDefault();
                        table.page('previous').draw('page');
                    }break;

                    case 39: {
                        event.preventDefault();
                        table.page('next').draw('page');
                    } break;

                    case 38: {
                        event.preventDefault();
                        table.page('first').draw('page');
                    } break;

                    case 40: {
                        event.preventDefault();
                        table.page('last').draw('page');
                    } break;

                    default :{
                        if (event.ctrlKey && event.key.toLowerCase() === 'i') {
                            event.preventDefault();
                            document.getElementById('register-button').click();
                        } else if (event.ctrlKey && event.key.toLowerCase() === 'p') {
                            event.preventDefault();
                            document.getElementById('print-button').click();
                        }
                    } break;

                }

            });

        });

    </script>

}