@using Library.Db.Models
@using Newtonsoft.Json;

@model DonatedBookModel


@{

    ViewData["Title"] = "Doar o Livro";

    var persons = ViewBag.Persons as List<PersonModel>;
    
    var personsJson = JsonConvert.SerializeObject(persons, Formatting.Indented);

    BookModel? book = ViewBag.Book as BookModel;

}


@section Styles {

    <link rel="stylesheet" href="~/css/select-style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/image-view-2.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />

    <link rel="stylesheet" href="~/css/register-container.css" asp-append-version="true" />

}


<div class="register-container">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="donate-book-form" method="post" asp-controller="Donation" asp-action="Register">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between mb-3">

            <h4>Doar o Livro</h4>

            <div class="d-flex justify-content-between">

                <button id="save-button" class="btn btn-save btn-default" type="submit">
                    <img class="m-0" src="~/img/save_icon_16.png" /> &nbspSalvar
                </button>

                <a id="cancel-button" class="btn btn-cancel btn-default" asp-controller="Book" asp-action="Manage">
                    <img class="m-0" src="~/img/cancel_icon_16.png" /> &nbspCancelar
                </a>

            </div>

        </div>


        <hr />


        <div class="row g-3" display="flex">

            <div id="img-preview" class="mb-2 col-sm-2" style="position:absolute;margin-left:10px;">
                <img src="@book!.Cover.Data" class="center" />
            </div>

            <div id="book-details" class="mb-2 col-sm-2" style="position:relative;flex-grow:1;margin-left:380px;margin-top:25px;">
        
                <div class="row g-3" display="flex">

                    <div class="mb-3 col-sm-2" style="width: 80%;">
                        <label for="select-person" class="form-label">Beneficiário</label>
                        <select id="select-person" class="form-control classic">
                            @if (persons != null) {
                                @foreach (var person in persons) {
                                    <option value="@person.Id">@person.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="mb-3 col-sm-2" style="width: 20%;">
                        <label for="donation-date" class="form-label">Data</label>
                        <input id="donation-date" type="datetime-local" class="form-control" asp-for="Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="notes" class="form-label">Anotações</label>
                    <textarea id="notes" class="form-control" style="resize:none;height: 350px;" asp-for="Notes" cols="50" placeholder="Anotações sobre a doação"></textarea>
                    <span class="text-danger" asp-validation-for="Notes"></span>
                </div>

            </div>

        </div>
            

        @Html.Hidden("Book.Id", @book.Id)
        @Html.Hidden("Book.Title", @book.Title)
        @Html.Hidden("Book.Subtitle", @book.Subtitle)
        @Html.Hidden("Book.Author", @book.Author)
        @Html.Hidden("Book.Publisher", @book.Publisher)
        @Html.Hidden("Book.Isbn", @book.Isbn)
        @Html.Hidden("Book.Edition", @book.Edition)
        @Html.Hidden("Book.Volume", @book.Volume)
        @Html.Hidden("Book.NumberOfPages", @book.NumberOfPages)
        @Html.Hidden("Book.ReleaseYear", @book.ReleaseYear)
        @Html.Hidden("Book.AcquisitionDate", @book.AcquisitionDate)
        @Html.Hidden("Book.RegistrationDate", @book.RegistrationDate)
        @Html.Hidden("Book.LastUpdateDate", @book.LastUpdateDate)
        @Html.Hidden("Book.Summary", @book.Summary)
        @Html.Hidden("Book.IsDeleted", @book.IsDeleted)
        @Html.Hidden("Book.Cover.Id", @book.Cover.Id)
        @Html.Hidden("Book.Cover.Data", @book.Cover.Data)
        @Html.Hidden("Book.Cover.Thumbnail", @book.Cover.Thumbnail)

        @Html.Hidden("Person.Id", "")
        @Html.Hidden("Person.Name", "")
        @Html.Hidden("Person.City", "")
        @Html.Hidden("Person.FederalState", "")
        @Html.Hidden("Person.Street", "")
        @Html.Hidden("Person.Number", "")
        @Html.Hidden("Person.District", "")
        @Html.Hidden("Person.PostalCode", "")
        @Html.Hidden("Person.Complement", "")
        @Html.Hidden("Person.Country", "")
        @Html.Hidden("Person.Description", "")
        @Html.Hidden("Person.RegistrationDate", "")
        @Html.Hidden("Person.LastUpdateDate", "")
        @Html.Hidden("Person.IsDeleted", "")


    </form>


</div>


<div id="spinner" class="spinner" style="display: none; position:absolute"></div>


@section Scripts {
    
    <script type="module" src="~/js/register-donation.js" asp-append-version="true"></script>
    
    <script> window.personsData = @Html.Raw(personsJson); </script>
    
}