@using Library.Utils;
@using Library.Services.UserService;

@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Usuários do Sistema";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/table-style.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        <div class="d-flex justify-content-between alignalign-items-center mb-5">
            <h3>Usuários do Sistema</h3>
            <a class="btn btn-success" style="width:160px;height:38px;" asp-controller="User" asp-action="Register">Cadastrar Usuário</a>
        </div>

        @if (TempData[Constants.SUCCESS_MESSAGE] != null) {
            <div class="alert alert-success text-black" role="alert">
                @TempData[Constants.SUCCESS_MESSAGE]
            </div>
        }
        
        @if (TempData[Constants.ERROR_MESSAGE] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.ERROR_MESSAGE]
            </div>
        }

        <table class="table table-light table hover table-striped" id="user-table" border="1">

            <thead>

                <tr>
                    <th scope="col" style="width: 25%;">Nome Completo</th>
                    <th scope="col" style="width: 20%;">Nome de Usuário</th>
                    <th scope="col" style="width: 12%;">Tipo</th>
                    <th scope="col"></th>
                </tr>

            </thead>

            <tbody>

                @if (Model != null) {

                    @foreach(var user in Model) {
                        <tr>
                            
                            <td scope="row">@user.Name</td>
                            
                            <td scope="row">@user.UserName</td>
                            
                            <td scope="row">@user.Role.Description</td>
                            
                            <td scope="row" id="controls-td">
                                
                                <a class="btn btn-light" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id"><img src="~/img/edit_icon2.png" title="Editar o usuário" /></a>
                                
                                @if (user.Role.Id != (int) UserRole.Admin) {
                                    <a class="btn btn-light" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id"><img src="~/img/delete_icon.png" title="Excluir o usuário" /></a>
                                } else {
                                    <a class="btn btn-light" style="pointer-events: none;background-color:darkgrey;"><img src="~/img/delete_icon.png" title="Excluir o usuário" /></a>
                                }

                                <a class="btn btn-light" asp-controller="Book" asp-action="Edit" asp-route-id="@user.Id"><img src="~/img/padlock_icon_24.png" title="Alterar a senha" /></a>
                                
                            </td>

                        </tr>
                    }

                }

            </tbody>

        </table>

    </div>

</body>