@using Library.Db.Models
@using Newtonsoft.Json;

@model LoanModel


@{

    ViewData["Title"] = "Emprestar o Livro";

    var persons = ViewBag.Persons as List<PersonModel>;

    var personsJson = JsonConvert.SerializeObject(persons, Formatting.Indented);

    var books = ViewBag.Books as List<BookModel>;

    var booksJson = JsonConvert.SerializeObject(books, Formatting.Indented);

}


@section Styles {

    <link rel="stylesheet" href="~/css/select-style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/image-view-2.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />

    <link rel="stylesheet" href="~/css/register-container.css" asp-append-version="true" />

}


<div class="register-container">

    
    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="borrow-book-form" method="post" asp-controller="Loan" asp-action="Register2">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between mb-3">

            <h4>Emprestar o Livro</h4>

            <div class="d-flex justify-content-between">

                <button id="save-button" class="btn btn-save btn-default" type="submit">
                    <img class="m-0" src="~/img/save_icon_16.png" /> &nbspSalvar
                </button>

                <a id="cancel-button" class="btn btn-cancel btn-default" asp-controller="Loan" asp-action="Manage">
                    <img class="m-0" src="~/img/cancel_icon_16.png" /> &nbspCancelar
                </a>

            </div>

        </div>


        <hr />


        <div class="row g-3" display="flex">

            <div id="img-preview" class="mb-2 col-sm-2" style="position:absolute;margin-left:10px;"></div>

            <div id="book-details" class="mb-2 col-sm-2" style="position:relative;flex-grow:1;margin-left:380px;margin-top:25px;">

                <div class="mb-3">
                    <label for="select-book" class="form-label">Livro</label>
                    <select id="select-book" class="form-control classic">
                        @if (books != null) {
                            @foreach (var book in books) {
                                <option value="@book.Id">@book.Title</option>
                            }
                        }
                    </select>
                </div>

                <div class="row g-3" display="flex">

                    <div class="mb-3 col-sm-2" style="width: 80%;">
                        <label for="select-person" class="form-label">Tomador</label>
                        <select id="select-person" class="form-control classic">
                            @if (persons != null) {
                                @foreach (var person in persons) {
                                    <option value="@person.Id">@person.Name</option>
                                }
                            }
                        </select>
                    </div>
                    
                    <div class="mb-3 col-sm-2" style="width: 20%;">
                        <label for="loan-date" class="form-label">Data</label>
                        <input id="loan-date" type="datetime-local" class="form-control" asp-for="Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>

                </div>                

                <div class="mb-3">
                    <label for="notes" class="form-label">Anotações</label>
                    <textarea id="notes" class="form-control" style="resize:none;height:265px;" asp-for="Notes" cols="50" placeholder="Anotações sobre a doação"></textarea>
                    <span class="text-danger" asp-validation-for="Notes"></span>
                </div>

            </div>

        </div>


        @Html.Hidden("Book.Id", "")
        @Html.Hidden("Book.Title", "")
        @Html.Hidden("Book.Subtitle", "")
        @Html.Hidden("Book.Author", "")
        @Html.Hidden("Book.Publisher", "")
        @Html.Hidden("Book.Isbn", "")
        @Html.Hidden("Book.Edition", "")
        @Html.Hidden("Book.Volume", "")
        @Html.Hidden("Book.NumberOfPages", "")
        @Html.Hidden("Book.ReleaseYear", "")
        @Html.Hidden("Book.AcquisitionDate", "")
        @Html.Hidden("Book.RegistrationDate", "")
        @Html.Hidden("Book.LastUpdateDate", "")
        @Html.Hidden("Book.Summary", "")
        @Html.Hidden("Book.IsDeleted", "")
        @Html.Hidden("Book.Cover.Id", "")
        @Html.Hidden("Book.Cover.Data", "")
        @Html.Hidden("Book.Cover.Thumbnail", "")

        @Html.Hidden("Person.Id", "")
        @Html.Hidden("Person.Name", "")
        @Html.Hidden("Person.City", "")
        @Html.Hidden("Person.FederalState", "")
        @Html.Hidden("Person.Street", "")
        @Html.Hidden("Person.Number", "")
        @Html.Hidden("Person.District", "")
        @Html.Hidden("Person.PostalCode", "")
        @Html.Hidden("Person.Complement", "")
        @Html.Hidden("Person.Country", "")
        @Html.Hidden("Person.Description", "")
        @Html.Hidden("Person.RegistrationDate", "")
        @Html.Hidden("Person.LastUpdateDate", "")
        @Html.Hidden("Person.IsDeleted", "")


    </form>


</div>


<div id="spinner" class="spinner" style="display: none; position:absolute"></div>


@section Scripts {
    
    <script type="module" src="~/js/register-loan-2.js" asp-append-version="true"></script>
    
    <script> window.personsData = @Html.Raw(personsJson); </script>
    
    <script> window.booksData = @Html.Raw(booksJson); </script>
    
}