@using Newtonsoft.Json;

@model DiscardedBookModel


@{
    
    ViewData["Title"] = "Descartar o Livro";
    
    var books = ViewBag.Books as List<BookModel>;
    
    var booksJson = JsonConvert.SerializeObject(books, Formatting.Indented);

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/image-view-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/select-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />

}


<div class="conteiner-fluid">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="discard-book-form" method="post" asp-controller="Discard" asp-action="Register2">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between mb-3">

            <h4>Descartar o Livro</h4>

            <div class="d-flex justify-content-between">

                <button id="save-button" type="submit" class="btn btn-success d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-right:5px;margin-top:-2px;">
                    <img class="m-0" src="~/img/save_icon_16.png" /> &nbspSalvar
                </button>

                <a id="cancel-button" class="btn btn-danger d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-top:-2px;" asp-controller="Discard" asp-action="Manage">
                    <img class="m-0" src="~/img/cancel_icon_16.png" /> &nbspCancelar
                </a>

            </div>

        </div>


        <div class="row g-3" display="flex">

        
            <div id="img-preview" class="mb-2 col-sm-2" style="position:absolute;"></div>

            <div id="book-details" class="mb-2 col-sm-2" style="position:relative;flex-grow:1;margin-left:380px;margin-top:25px;">

                <div class="row g-3" display="flex">

                    <div class="mb-3 col-sm-2" style="width:80%;">
                        <label for="select-book" class="form-label">Livro</label>
                        <select id="select-book" class="form-control classic">
                            @if (books != null) {
                                @foreach (var book in books) {
                                    <option value="@book.Id">@book.Title</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="mb-3 col-sm-2" style="width:20%;">
                        <label for="discard-date" class="form-label">Data</label>
                        <input id="discard-date" type="datetime-local" class="form-control" asp-for="Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="reason" class="form-label">Motivo</label>
                    <textarea id="reason" class="form-control" style="resize:none; height: 350px;" asp-for="Reason" cols="50" placeholder="Motivo do descarte"></textarea>
                    <span class="text-danger" asp-validation-for="Reason"></span>
                </div>

            </div>

        </div>


        @Html.Hidden("Book.Id", "")
        @Html.Hidden("Book.Title", "")
        @Html.Hidden("Book.Subtitle", "")
        @Html.Hidden("Book.Author", "")
        @Html.Hidden("Book.Publisher", "")
        @Html.Hidden("Book.Isbn", "")
        @Html.Hidden("Book.Edition", "")
        @Html.Hidden("Book.Volume", "")
        @Html.Hidden("Book.NumberOfPages", "")
        @Html.Hidden("Book.ReleaseYear", "")
        @Html.Hidden("Book.AcquisitionDate", "")
        @Html.Hidden("Book.RegistrationDate", "")
        @Html.Hidden("Book.LastUpdateDate", "")
        @Html.Hidden("Book.Summary", "")
        @Html.Hidden("Book.IsDeleted", "")
        @Html.Hidden("Book.Cover.Id", "")
        @Html.Hidden("Book.Cover.Data", "")
        @Html.Hidden("Book.Cover.Thumbnail", "")


    </form>


</div>


<div id="spinner" class="spinner" style="display: none; position:absolute"></div>


@section Scripts {
        
    <script type="module" src="~/js/register-discard-2.js" asp-append-version="true"></script>
    
    <script> window.booksData = @Html.Raw(booksJson); </script>
    
}