@model BookModel

@using Library.Utils;

@{
    ViewData["title"] = "Excluir Livro";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/image-view.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        @if (TempData[Constants.error_message] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.error_message]
            </div>
        }

        <form method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="Delete">

            <div class="d-flex justify-content-between align-items-center mb-1">
                <h3>Excluir o livro "@Model.Title"?</h3>
                <div class="left gap-2 mt-1">
                    <button type="submit" class="btn btn-danger left" style="width:150px;margin-right:10px">Excluir</button>
                    <a class="btn btn-primary left" style="width:150px" asp-controller="Book" asp-action="Manage">Cancelar</a>
                </div>
            </div>

            <div class="mb-3"></div>

            <div class="mb-2" id="img-preview"><img src="@Model.Cover" class="center" /></div>

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Cover)
            @Html.HiddenFor(m => m.Title)
            @Html.HiddenFor(m => m.Subtitle)
            @Html.HiddenFor(m => m.Author)
            @Html.HiddenFor(m => m.Publisher)
            @Html.HiddenFor(m => m.Isbn)
            @Html.HiddenFor(m => m.Edition)
            @Html.HiddenFor(m => m.Volume)
            @Html.HiddenFor(m => m.NumberOfPages)
            @Html.HiddenFor(m => m.ReleaseYear)
            @Html.HiddenFor(m => m.AcquisitionDate)
            @Html.HiddenFor(m => m.RegistrationDate)
            @Html.HiddenFor(m => m.LastUpdateDate)
            @Html.HiddenFor(m => m.Summary)
            @Html.HiddenFor(m => m.IsDeleted)

        </form>

    </div>

</body>