@model BookModel


@{

    ViewData["Title"] = "Detalhes do Livro";

    bool isFirstBook = ViewBag.IsFirstBook;
    bool isLastBook = ViewBag.IsLastBook;

    List <BookModel> books = ViewBag.Books;

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/book-details.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/table-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />

}


<div class="container-fluid">


    @await Html.PartialAsync("_MessageErrorPartial")

    <div class="d-flex justify-content-between">

        <h3>Detalhes do Livro</h3>

        <div id="nav-buttons" style="margin-top:-5px;">
        

            @if (!isFirstBook) {
                <a class="btn btn-primary" id="button-first" asp-controller="Book" asp-action="FirstBook" style="align-content:center;align-items:center">
                    <img class="m-0" src="~/img/first_item_icon.png" />
                </a>
                <a class="btn btn-primary" id="button-previous" asp-controller="Book" asp-action="PreviousBook" asp-route-id="@Model.Id">
                    <img class="m-0" src="~/img/previous_item_icon.png" />
                </a>
            } else {
                <a class="btn btn-primary" id="button-first" style="pointer-events: none;background-color:darkgrey;">
                    <img class="m-0" src="~/img/first_item_icon.png" />
                </a>
                <a class="btn btn-primary" id="button-previous" style="pointer-events: none;background-color:darkgrey;">
                    <img class="m-0" src="~/img/previous_item_icon.png" />
                </a>
            }
        

            @if (!isLastBook) {
                <a class="btn btn-primary" id="button-next" asp-controller="Book" asp-action="NextBook" asp-route-id="@Model.Id">
                    <img class="m-0" src="~/img/next_item_icon.png" />
                </a>
                <a class="btn btn-primary" id="button-last" asp-controller="Book" asp-action="LastBook">
                    <img class="m-0" src="~/img/last_item_icon.png" />
                </a>
            } else {
                <a class="btn btn-primary" id="button-next" style="pointer-events: none;background-color:darkgrey;">
                    <img class="m-0" src="~/img/next_item_icon.png" />
                </a>
                <a class="btn btn-primary" id="button-last" style="pointer-events: none;background-color:darkgrey;">
                    <img class="m-0" src="~/img/last_item_icon.png" />
                </a>
            }


            <button class="btn btn-primary" id="button-filter" data-toggle="modal" data-target="#filterDialog" style="border:hidden;">
                <img class="m-0" src="~/img/search_item_icon.png" />
            </button>
        
            <a class="btn btn-primary" id="button-print" asp-controller="Report" asp-action="BookDetailedReport" asp-route-id="@Model.Id" target="_blank">
                <img class="m-0" src="~/img/printer_icon_16_w.png" />
            </a>
    

        </div>

    </div>


    <input type="hidden" asp-for="Id" />


    <div class="row g-3" display="flex" style="margin-top:10px;">

        <div id="image-view" class="mb-2 col-sm-2" style="position:absolute;margin-top:-8px;margin-left:0px;">
            <img id="img-preview" src="@Model.Cover" class="center" />
        </div>

        <div id="book-data" class="mb-2 col-sm-2" style="position:relative;flex-grow: 1;margin-left:355px">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
        
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Detalhes</button>
                </li>
        
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Sinopse</button>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent" style="margin-top: 10px;">


                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input id="title" type="text" class="form-control" style="background-color:white;" asp-for="Title" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="subtitle" class="form-label">Subtítulo</label>
                        <input id="subtitle" type="text" class="form-control" style="background-color: white;" asp-for="Subtitle" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="author" class="form-label">Autor</label>
                        <input id="author" type="text" class="form-control" style="background-color:white;" asp-for="Author" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="publisher" class="form-label">Editora</label>
                        <input id="publisher" type="text" class="form-control" style="background-color:white;" asp-for="Publisher" disabled>
                    </div>


                    <div class="row g-3" display="flex">

                        <div class="mb-3 col-sm-2">
                            <label for="isbn" class="form-label">ISBN</label>
                            <input id="isbn" type="text" class="form-control" style="background-color:white;" asp-for="Isbn" disabled>

                        </div>

                        <div class="mb-3 col-sm-2">
                            <label for="edition" class="form-label">Edição</label>
                            <input id="edition" type="number" min="1" class="form-control" style="background-color:white;" asp-for="Edition" disabled>
                        </div>

                        <div class="mb-3 col-sm-2">
                            <label for="volume" class="form-label">Volume</label>
                            <input id="volume" type="number" min="1" class="form-control" style="background-color:white;" asp-for="Volume" disabled>
                        </div>

                        <div class="mb-3 col-sm-2">
                            <label for="release-year" class="form-label">Ano da publicação</label>
                            <input id="release-year" type="number" min="1" class="form-control" style="background-color:white;" asp-for="ReleaseYear" disabled>
                        </div>

                        <div class="mb-3 col-sm-2">
                            <label for="num-of-pages" class="form-label">Número de páginas</label>
                            <input id="num-of-pages" type="number" min="1" class="form-control" style="background-color:white;" asp-for="NumberOfPages" disabled>
                        </div>

                        <div class="mb-3 col-sm-2">
                            <label for="acquisition-date" class="form-label">Data da aquisição</label>
                            <input id="acquisition-date" type="text" class="form-control" style="background-color:white;" value="@Model.AcquisitionDate.ToString("dd/MM/yyyy")" asp-for="AcquisitionDate" disabled>
                        </div>

                    </div>

                </div>


                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <textarea id="summary" class="form-control" style="resize:none;background-color:white;height:413px;" asp-for="Summary" disabled></textarea>

                </div>


            </div>
            
        </div>
      
    </div>

</div>


<div class="modal fade" id="filterDialog">
        
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        
        <div class="modal-content">
            
            <div class="modal-header">

                <h6>Buscar livro:</h6>

                <button id="close-button" type="button" class="close" 
                style="background: white;border:0px;padding-top:0px;padding-bottom:0px;" 
                data-dismiss="modal"><h3>&times;</h3></button>

            </div>

            <div class="modal-body" style="background:white; ">
                    
                <table id="filter-table" class="table table-borderless" border="0">

                    <thead class="text-start">

                        <tr>
                                
                            <th scope="col" style="width: 60%;">Título</th>
                                
                            <th scope="col" style="width: 20%;">ISBN</th>
                                
                            <th scope="col"></th>
                            
                        </tr>

                    </thead>

                    <tbody>

                        @if (books != null) {

                            @foreach (var book in books) {

                                <tr>
                                        
                                    <td scope="row">@book.Title</td>
                                        
                                    <td scope="row">@book.Isbn</td>
                                        
                                    <td id="controls-td" scope="row">
                                        
                                        <a class="btn btn-info" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                                            <img src="~/img/next_item_icon.png" title="Selecionar o livro" />
                                        </a>
                                        
                                    </td>
                                    
                                </tr>

                            }

                        }

                    </tbody>

                </table>

            </div>

            <div style="text-align: center;">
                    
                <hr style="margin-top: 0;" />
                    
                <p style="text-align: center; color:dimgrey; padding-top: 6px; padding-bottom:6px;">
                    Digite o título do livro ou o ISBN no campo <u><b>Pesquisar</b></u>
                </p>

            </div>

        </div>

    </div>

</div>


@section Scripts {

    <script src="~/js/datatables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#filter-table').DataTable({
                language: { url: "/dic/book-table-pt_br.json"},
                order: [],
                ordering: false,
                columnDefs: [{ targets: '_all', className: 'dt-body-left' }],
                lengthMenu: [[-1], ["Todos"]],
                pageLength: -1
            });

        });

    </script>

}