
@*

    Página para edição de um livro descartado.

*@


@model DiscardedBookModel


@{
    ViewData["title"] = "Editar Livro Descartado";
}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/image-view.css" asp-append-version="true" />

}


<div class="conteiner">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form method="post" enctype="multipart/form-data" asp-controller="Discard" asp-action="Edit">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between alignalign-items-center mb-5">

            <h3>Editar Livro Descartado</h3>

            <div>

                <button type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>

                <a class="btn btn-primary left" style="width:200px" asp-controller="Discard" asp-action="Manage">Cancelar</a>

            </div>

        </div>


        <div id="img-preview" class="mb-2"><img src="@Model.Book.Cover" class="center" /></div>


        <div class="mb-3 col-sm-2">
            <label for="discard-date" class="form-label">Data</label>
            <input id="discard-date" type="datetime-local" class="form-control" asp-for="Date" required>
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

        <div class="mb-3">
            <label for="reason" class="form-label">Motivo</label>
            <textarea id="reason" class="form-control" style="resize:none" asp-for="Reason" rows="10" cols="50" placeholder="Motivo do descarte"></textarea>
            <span class="text-danger" asp-validation-for="Reason"></span>
        </div>


        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.RegistrationDate)
        @Html.HiddenFor(m => m.LastUpdateDate)

        @Html.HiddenFor(m => m.Book.Cover)
        @Html.HiddenFor(m => m.Book.Id)
        @Html.HiddenFor(m => m.Book.Title)
        @Html.HiddenFor(m => m.Book.Subtitle)
        @Html.HiddenFor(m => m.Book.Author)
        @Html.HiddenFor(m => m.Book.Publisher)
        @Html.HiddenFor(m => m.Book.Isbn)
        @Html.HiddenFor(m => m.Book.Edition)
        @Html.HiddenFor(m => m.Book.Volume)
        @Html.HiddenFor(m => m.Book.NumberOfPages)
        @Html.HiddenFor(m => m.Book.ReleaseYear)
        @Html.HiddenFor(m => m.Book.AcquisitionDate)
        @Html.HiddenFor(m => m.Book.RegistrationDate)
        @Html.HiddenFor(m => m.Book.LastUpdateDate)
        @Html.HiddenFor(m => m.Book.Summary)
        @Html.HiddenFor(m => m.Book.IsDeleted)


    </form>


</div>


@section Scripts {

    <script src="~/js/discard-book.js" asp-append-version="true"></script>

}