@using Library.Utils
@using Library.Models

@model IEnumerable<DiscardedBookModel>

@{
    ViewData["Title"] = "Livros Descartados";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/table-style.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        <div class="d-flex justify-content-between alignalign-items-center mb-5">
            <h3>Livros Descartados</h3>
            <div>
                <a class="btn btn-success" style="width:150px;height:38px;margin-right:5px" asp-controller="Discard" asp-action="Register2">Descartar livro</a>
                <a class="btn btn-primary" style="height:38px;" asp-controller="Report" asp-action="DiscardedBooksReport" target="_blank"><img class="m-0" src="~/img/printer_icon_16_w.png" /></a>
            </div>
        </div>

        @if (TempData[Constants.SUCCESS_MESSAGE] != null) {
            <div class="alert alert-success text-black" role="alert">
                @TempData[Constants.SUCCESS_MESSAGE]
            </div>
        }
        
        @if (TempData[Constants.ERROR_MESSAGE] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.ERROR_MESSAGE]
            </div>
        }

        <table id="book-table" class="table table-light table hover table-striped" border="1">

            <thead>

                <tr>
                    <th scope="col" style="width: 25%;">Título</th>
                    <th scope="col" style="width: 25%;">Autor</th>
                    <th scope="col" style="width: 15%;">ISBN</th>
                    <th scope="col" style="width: 2%;">Edic.</th>
                    <th scope="col" style="width: 2%;">Vol.</th>
                    <th scope="col"></th>
                </tr>

            </thead>

            <tbody>

                @if (Model != null) {

                    @foreach(var discardedBook in Model) {
                        <tr>
                            <td scope="row">@discardedBook.Book.Title</td>
                            <td scope="row">@discardedBook.Book.Author</td>
                            <td scope="row">@discardedBook.Book.Isbn</td>
                            <td scope="row">@discardedBook.Book.Edition</td>
                            <td scope="row">@discardedBook.Book.Volume</td>
                            <td id="controls-td" scope="row">
                                <a class="btn btn-light" asp-controller="Discard" asp-action="Edit" asp-route-id="@discardedBook.Id"><img src="~/img/edit_icon2.png" title="Editar o livro descartado" /></a>
                                <a class="btn btn-light" asp-controller="Discard" asp-action="Delete" asp-route-id="@discardedBook.Id"><img src="~/img/delete_icon.png" title="Excluir o livro descartado" /></a>
                                <a class="btn btn-light" asp-controller="Book" asp-action="Details" asp-route-id="@discardedBook.Book.Id"><img src="~/img/view_icon.png" title="Detalhes do livro descartado" /></a>
                            </td>
                        </tr>
                    }

                }

            </tbody>

        </table>

    </div>

</body>