@using Library.Utils;

@model DiscardedBookModel

@{
    
    ViewData["title"] = "Descartar Livro";
    
    BookModel? book = ViewBag.Book as BookModel;

}

@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/image-view.css" asp-append-version="true" />

}

<div class="conteiner">

    @if (TempData[Constants.ERROR_MESSAGE] != null) {
        <div class="alert alert-danger text-black" role="alert">
            @TempData[Constants.ERROR_MESSAGE]
        </div>
    }

    <div class="d-flex justify-content-between align-items-center mb-1">
        <h3>Descartar o Livro</h3>
    </div>

    <div class="mb-3"></div>

    <form method="post" enctype="multipart/form-data" asp-controller="Discard" asp-action="Register">

        @Html.AntiForgeryToken()

        <div id="img-preview" class="mb-2"><img src="@book!.Cover" class="center" /></div>

        <div class="mb-3 col-sm-2">
            <label for="discard-date" class="form-label">Data</label>
            <input id="discard-date" type="datetime-local" class="form-control" asp-for="Date">
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

        <div class="mb-3">
            <label for="reason" class="form-label">Motivo</label>
            <textarea id="reason" class="form-control" style="resize:none" asp-for="Reason" rows="10" cols="50" placeholder="Motivo do descarte" ></textarea>
            <span class="text-danger" asp-validation-for="Reason"></span>
        </div>

        <div class="left gap-2 mt-1">

            <button type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>
                
            <a class="btn btn-primary left" style="width:200px" asp-controller="Book" asp-action="Manage">Cancelar</a>
            
        </div>

        @Html.Hidden("Book.Cover", @book.Cover)
        @Html.Hidden("Book.Id", @book.Id)
        @Html.Hidden("Book.Title", @book.Title)
        @Html.Hidden("Book.Subtitle", @book.Subtitle)
        @Html.Hidden("Book.Author", @book.Author)
        @Html.Hidden("Book.Publisher", @book.Publisher)
        @Html.Hidden("Book.Isbn", @book.Isbn)
        @Html.Hidden("Book.Edition", @book.Edition)
        @Html.Hidden("Book.Volume", @book.Volume)
        @Html.Hidden("Book.NumberOfPages", @book.NumberOfPages)
        @Html.Hidden("Book.ReleaseYear", @book.ReleaseYear)
        @Html.Hidden("Book.AcquisitionDate", @book.AcquisitionDate)
        @Html.Hidden("Book.RegistrationDate", @book.RegistrationDate)
        @Html.Hidden("Book.LastUpdateDate", @book.LastUpdateDate)
        @Html.Hidden("Book.Summary", @book.Summary)
        @Html.Hidden("Book.IsDeleted", @book.IsDeleted)

    </form>

</div>

@section Scripts {

    <script type="module" src="~/js/register-discard.js" asp-append-version="true"></script>

}