@model IEnumerable<DonatedBookModel>

@using Library.Utils

@{
    ViewData["Title"] = "Livros Doados";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/table-style.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        <div class="d-flex justify-content-between alignalign-items-center mb-5">
            <h3>Livros Doados</h3>
            <div>
                <a class="btn btn-success" style="width:150px;height:38px;margin-right:5px" asp-controller="Donation" asp-action="Register2">Doar livro</a>
                <a class="btn btn-primary" style="height:38px;" asp-controller="Report" asp-action="DonatedBooksReport" target="_blank"><img class="m-0" src="~/img/printer_icon_16_w.png" /></a>
            </div>
        </div>

        @if (TempData[Constants.success_message] != null) {
            <div class="alert alert-success text-black" role="alert">
                @TempData[Constants.success_message]
            </div>
        }

        @if (TempData[Constants.error_message] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.error_message]
            </div>
        }

        <table class="table table-light table hover table-striped" id="book-table" border="1">

            <thead>

                <tr>
                    <th scope="col" style="width: 20%;">Título</th>
                    <th scope="col" style="width: 18%;">Autor</th>
                    <th scope="col" style="width: 12%;">ISBN</th>
                    <th scope="col" style="width: 2%;">Edic.</th>
                    <th scope="col" style="width: 2%;">Vol.</th>
                    <th scope="col" style="width: 18%;">Recebedor</th>
                    <th scope="col"></th>
                </tr>

            </thead>

            <tbody>

                @if (Model != null) {

                    @foreach (var donatedBook in Model) {
                        <tr>
                            <td scope="row">@donatedBook.Book.Title</td>
                            <td scope="row">@donatedBook.Book.Author</td>
                            <td scope="row">@donatedBook.Book.Isbn</td>
                            <td class="num-span" scope="row">@donatedBook.Book.Edition</td>
                            <td class="num-span" scope="row">@donatedBook.Book.Volume</td>
                            <td scope="row">@donatedBook.Person.Name</td>
                            <td scope="row" id="controls-td">
                                <a class="btn btn-light" asp-controller="Donation" asp-action="Edit" asp-route-id="@donatedBook.Id"><img src="~/img/edit_icon2.png" title="Editar o livro doado" /></a>
                                <a class="btn btn-light" asp-controller="Donation" asp-action="Delete" asp-route-id="@donatedBook.Id"><img src="~/img/delete_icon.png" title="Excluir o livro doado" /></a>
                                <a class="btn btn-light" asp-controller="Book" asp-action="Details" asp-route-id="@donatedBook.Book.Id"><img src="~/img/view_icon.png" title="Detalhes do livro doado" /></a>
                            </td>
                        </tr>
                    }

                }

            </tbody>

        </table>

    </div>

</body>